@font-face {
    font-family: Kyiv Type Sans;
    src: url(../fonts/KyivTypeSans-VarGX.ttf);
}

@font-face {
    font-family: Geometria;
    src: url(../fonts/Geometria-Medium.ttf);
}

@font-face {
    font-family: Acworth;
    src: url(../fonts/acworth-bold.otf);
}