@import '../../styles/colors.scss';

.Home {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    background-color: $black;

    &__HomeHeader {
        padding-top: 114px;
    }

    &__PictureList {
        padding-top: 142px;
    }

    &__AboutMe {
        padding-top: 125px;
    }

    &__Footer {
        padding-top: 179px;
    }
}

@media (max-width: 700px) {
    .Home {
        &__HomeHeader {
            padding-top: 45px;
        }

        &__PictureList {
            padding-top: 43px;
        }
    }
}