@import '../../styles/colors.scss';

.Wrapper {
    display: flex;
    width: 100%;
    padding: 0px 265px;

    &_Top {
        padding-top: 95px;
    }

    &_Column {
        flex-direction: column;
    }
}

@media (max-width: 1440px) {
    .Wrapper {
        padding: 0px 50px;

        &_Top {
            padding-top: 80px;
        }
    }
}

@media (max-width: 900px) {
    .Wrapper {
        padding: 0px 30px;

        &_Top {
            padding-top: 60px;
        }
    }
}

@media (max-width: 700px) {
    .Wrapper {
        padding: 0px 21px;

        &_Top {
            padding-top: 95px;
        }
    }
}