@import '../../styles/colors.scss';

.HomeHeader {
    width: 100%;
    position: relative;

    &__Content {
        display: flex;
        justify-content: space-between;
        gap: 50px;
    }

    &__MainPicture {
        max-width: 910px;
    }

    &__Picture {
        height: 280px;
    }

    &__Column {
        max-width: 430px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 55px;
    }

    &__Title {
        width: 100%;
        text-align: center;
        position: absolute;
        left: 0;
        right: 0;
        margin: 160px auto;
    }

    &__Logo {
        font-family: Acworth;
        font-style: normal;
        font-weight: 700;
        font-size: 220px;
        line-height: 243px;
        color: white;
    }

    &__Text {
        font-family: 'Geometria';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 45px;
        color: white;
    }
}