.Link {
    font-family: Kyiv Type Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;

    &_Large {
        font-size: 42px;
        line-height: 50px;
    }

    &:hover {
        cursor: pointer;
        text-decoration: underline;
    }
}