@import '../../styles/colors.scss';

.AboutMe {
    position: relative;

    &__Content {
        padding-top: 54px;
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }

    &__TextContent {
        display: flex;
        position: absolute;
        left: 0;
    }

    &__Text {
        margin-left: 20px;
        font-family: 'Acworth';
        font-style: normal;
        font-weight: 700;
        font-size: 80px;
        line-height: 88px;
        color: #FFFFFF;
    }

    &__Text_Span {
        color: $red;
    }

    &__Line {
        margin-top: 15px;
        width: 245px;
        border: none;
        height: 56px;
        background-color: $red;
    }

    &__PictureContainer {
        width: 985px;
    }
}

@media (max-width: 1440px) {
    .AboutMe {
        &__Text {
            margin-left: 5px;
            font-size: 60px;
            line-height: 64px;
            padding-right: 300px;
        }

        &__Line {
            margin-top: 14px;
            width: 100px;
            height: 38px;
        }

        &__PictureContainer {
            width: 702px;
            height: 730px;
        }

        &__Content {
            padding-top: 60px;
        }
    }
}

@media (max-width: 900px) {
    .AboutMe {
        &__PictureContainer {
            width: 602px;
            height: 530px;
        }

        &__Text {
            margin-left: 5px;
            font-size: 48px;
            line-height: 42px;
        }

        &__Line {
            margin-top: 5px;
            width: 60px;
            height: 32px;
        }
    }
}

@media (max-width: 700px) {
    .AboutMe {
        &__Text {
            margin-left: 5px;
            font-size: 40px;
            line-height: 44px;
            padding-right: 50px;
        }

        &__Line {
            margin-top: 8px;
            width: 22px;
            height: 28px;
        }

        &__PictureContainer {
            width: 302px;
            height: 630px;
        }

        &__Content {
            padding-top: 60px;
        }
    }
}

@media (max-width: 320px) {
    .AboutMe {
        &__Text {
            margin-left: 5px;
            font-size: 30px;
            line-height: 34px;
            padding-right: 40px;
        }

        &__Line {
            margin-top: 6px;
            height: 20px;
        }
    }
}