.PictureList {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__PictureContainer {
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 50px;
    }

    &__Picture {
        margin-top: 54px;

        &:first-child {
            margin-top: 0px;
        }
    }

    &__Button {
        margin-top: 58px;
    }

    &__Column {
        width: 670px;
        display: flex;
        flex-direction: column;

        &:last-child {
            margin-top: 70px;
        }
    }
}

@media (max-width: 1440px) {
    .PictureList {
        &__PictureContainer {
            gap: 40px;
        }
    }
}

@media (max-width: 900px) {
    .PictureList {
        &__PictureContainer {
            gap: 30px;
        }

        &__Picture {
            margin-top: 25px;

            &:first-child {
                margin-top: 0px;
            }
        }
    }
}

@media (max-width: 700px) {
    .PictureList {
        &__PictureContainer {
            flex-wrap: wrap;
        }

        &__Picture {
            margin-top: 32px;

            &:first-child {
                margin-top: 0px;
            }
        }

        &__Column {
            &:first-child {
                margin-top: 44px;
            }

            &:last-child {
                margin-top: 32px;
            }
        }

        &__PictureContainer {
            justify-content: center;
            gap: 0px;
        }

        &__Button {
            margin-top: 32px;
        }
    }
}