%font {
    font-family: Geometria;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    color: white;
}

%line {
    width: 289px;
    border: none;
    height: 1px;
    background-color: white;
}

.Title {
    &_TitleLeft {
        display: flex;
        align-items: center;
        position: absolute;
        right: 0;

        &__Name {
            margin-right: 22px;
            @extend %font;
        }

        &__Line {
            @extend %line;
        }
    }

    &_TitleRight {
        display: flex;
        align-items: center;
        position: absolute;
        flex-direction: row-reverse;
        left: 0;

        &__Name {
            margin-left: 22px;
            @extend %font;
        }

        &__Line {
            @extend %line;
        }
    }
}

@media (max-width: 900px) {
    .Title {

        &_TitleLeft,
        &_TitleRight {

            &__Name {
                font-size: 20px;
                line-height: 12px;
            }

            &__Line {
                width: 150px;
            }
        }
    }
}

@media (max-width: 700px) {
    .Title {

        &_TitleLeft,
        &_TitleRight {

            &__Name {
                font-size: 15px;
                line-height: 19px;
            }

            &__Line {
                width: 71px;
            }
        }
    }
}