.Title {
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;

    &__Name {
        margin-right: 22px;
        font-family: Geometria;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 30px;
        color: white;
    }

    &__Line {
        width: 289px;
        border: none;
        height: 1px;
        background-color: white;
    }
}

.TitleLeft {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    position: absolute;
    left: 0;

    &__Name {
        margin-left: 22px;
        font-family: Geometria;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 30px;
        color: white;
    }

    &__Line {
        width: 289px;
        border: none;
        height: 1px;
        background-color: white;
    }
}